/***

VARIABLES
This is master variables file. This file must not be edited.
Here is the variable name format for further implementation and customization.

namespace-module-parameter-variant
e.g. nc-breakpoints-mobile-start

***/

// Configs
$nc-sizing-scale: 16px !default;

// Grid
$nc-grid-gutter: 1rem !default;
$nc-grid-columns: 12 !default;

// Breakpoints
$nc-breakpoints-mobile-start: 0 !default;
$nc-breakpoints-mobile-end: 767px !default;
$nc-breakpoints-tablet-start: 768px !default;
$nc-breakpoints-tablet-end: 991px !default;
$nc-breakpoints-desktop-start: 992px !default;
$nc-breakpoints-desktop-end: 1199px !default;
$nc-breakpoints-highdef-start: 1200px !default;

// Containers
$nc-containers-mobile: 100% !default;
$nc-containers-tablet: 100% !default;
$nc-containers-desktop: 960px !default;
$nc-containers-highdef: 1184px !default;

// Colors
$nc-colors-white: #fff !default;
$nc-colors-black: #000 !default;
$nc-colors-primary: blue !default;
$nc-colors-accent: yellow !default;
$nc-colors-secondary: pink !default;

// Fonts
$nc-fonts-heading: 'Libre Franklin, Arial, sans-serif' !default;
$nc-fonts-body: 'Open Sans, Arial, sans-serif' !default;
$nc-fonts-additional: 'Roboto, Arial, sans-serif' !default;

// Typography
$nc-typography-scale: 1.414 !default;
$nc-typography-scale-half: (($nc-typography-scale - 1) / 4) + 1 !default;
$nc-typography-scale-heading-big: 1rem * $nc-typography-scale * $nc-typography-scale * $nc-typography-scale !default;
$nc-typography-scale-heading-large: 1rem * $nc-typography-scale * $nc-typography-scale !default;
$nc-typography-scale-heading-medium: 1rem * $nc-typography-scale !default;
$nc-typography-scale-heading-small: 1rem !default;
$nc-typography-scale-heading-little: 1rem / $nc-typography-scale !default;
$nc-typography-scale-body-big: 1rem * $nc-typography-scale-half * $nc-typography-scale-half * $nc-typography-scale-half !default;
$nc-typography-scale-body-large: 1rem * $nc-typography-scale-half * $nc-typography-scale-half !default;
$nc-typography-scale-body-medium: 1rem * $nc-typography-scale-half !default;
$nc-typography-scale-body-small: 1rem !default;
$nc-typography-scale-body-little: 1rem / $nc-typography-scale-half !default;

// Sizes
$nc-size-micro: 0.125rem !default;
$nc-size-tiny: 0.25rem !default;
$nc-size-little: 0.50rem !default;
$nc-size-small: 0.75rem !default;
$nc-size-medium: 1.00rem !default;
$nc-size-large: 1.50rem !default;
$nc-size-big: 2.00rem !default;
$nc-size-huge: 3.00rem !default;
$nc-size-gigantic: 4.00rem !default;

// Shadows
$nc-boxShadow-levels-1: "0 0 0.125rem #{transparentize($nc-colors-black, 0.84)}" !default;
$nc-boxShadow-levels-2: "0 0 0.25rem #{transparentize($nc-colors-black, 0.84)}" !default;
$nc-boxShadow-levels-3: "0 0 1.00rem #{transparentize($nc-colors-black, 0.68)}" !default;
$nc-boxShadow-levels-4: "0 0 2.00rem #{transparentize($nc-colors-black, 0.68)}" !default;
