@import '../settings/variables';
@import '../plugins/open-color/open-color';

@function color($shade: primary, $weight: 0) {
	@if $shade == primary {
		@return map-get($color-primary-list, #{$weight});
	} @else if $shade == accent {
		@return map-get($color-accent-list, #{$weight});
	} @else if $shade == secondary {
		@return map-get($color-secondary-list, #{$weight});
	} @else if $shade == white {
		@return $color-white;
	} @else if $shade == black {
		@return $color-black;
	} @else if $shade == light {
		@return map-get($color-light-list, #{$weight});
	} @else if $shade == dark {
		@return map-get($color-dark-list, #{$weight});
	} @else {
		$weight_actual: 0;
		@if $weight == 0 {
			$weight_actual: 500;
		} @else {
			$weight_actual: $weight;
		}
		$weight-converted: $weight_actual / 100;
		$color-list: map-get($oc-color-list-reverse, #{$shade});
		$color-return: map-get($color-list, #{$weight-converted});
		@return $color-return;
	}
}
