@import '../settings/variables';
@import 'breakpoint';

@mixin display($display: block) {
	display: $display;
}

@mixin show($device, $display: block) {
	@include breakpoint($device) {
		display: $display;
	}
}

@mixin hide($device, $display: none) {
	@include breakpoint($device) {
		display: none;
	}
}
