@import '../settings/variables';

@mixin flex-container($align: center, $content: flex-start, $wrap: 0) {
	display: flex;
	align-items: $align;
	justify-content: $content;
	@if $wrap != 0 {
		flex-wrap: $wrap;
	}
};

@mixin flex-item($grow: 1, $shrink: 1, $align: 0, $order: 0) {
	flex: $grow $shrink auto;
	@if $align != 0 {
		align-self: $align;
	}
	@if $order != 0 {
		order: $order;
	}
};
