@import '../settings/variables';

@mixin flex-container($align: center, $content: flex-start) {
	display: flex;
	align-items: $align;
	justify-content: $content;
};

@mixin flex-item($grow: 1, $shrink: 1, $align: center, $order: 0) {
	flex: $grow $shrink auto;
	align-self: $align;
	@if $order != 0 {
		order: $order;
	}
};
