@import '../settings/variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	font-size: $scale;
}

fieldset {
	border: none;
}

a {
	text-decoration: none;
}

i, cite, em, var, address, dfn {
    font-style: normal;
}
