@import '../settings/lists';

@mixin shadow($type, $level) {
	@if $type == box {
		box-shadow: #{map-get($nc-boxShadow-levels-list, #{$level})};
	}
	@if $type == box-inset {
		box-shadow: inset #{map-get($nc-boxShadow-levels-list, #{$level})};
	}
	@if $type == text {
		text-shadow: #{map-get($nc-boxShadow-levels-list, #{$level})};
	}
}
