@import '../settings/variables';
@import '../plugins/type-checking/type-checking';

@mixin size($width: auto, $height: auto) {
	@if $width == auto {
		width: auto;
	}
	@if is-length($width) == false {
		width: #{map-get($sizes, $width)};
	}
	@if is-length($width) == true {
		width: $width;
	}
	@if is-percentage($width) == true {
		width: $width;
	}
	@if $height == auto {
		height: auto;
	}
	@if is-length($height) == false {
		height: #{map-get($sizes, $height)};
	}
	@if is-length($height) == true {
		height: $height;
	}
	@if is-percentage($height) == true {
		height: $height;
	}
}
