@import '../settings/variables';

@function space($size) {
	@return map-get($sizes, #{$size});
}

@mixin padding($side, $size) {
	$type: padding;
	$properties: map-get($sides, $side);
	@if $size == 0 {
		@each $property in $properties {
			#{$type}-#{$property}: $size;
		}
	}
	@if $size == auto {
		@each $property in $properties {
			#{$type}-#{$property}: $size;
		}
	}
	@if is-length($size) == false {
		@each $property in $properties {
			#{$type}-#{$property}: #{map-get($sizes, $size)};
		}
	}
	@if is-length($size) == true {
		@each $property in $properties {
			#{$type}-#{$property}: $size;
		}
	}
	@if is-percentage($size) == true {
		@each $property in $properties {
			#{$type}-#{$property}: $size;
		}
	}
}

@mixin margin($side, $size) {
	$type: margin;
	$properties: map-get($sides, $side);
	@if $size == 0 {
		@each $property in $properties {
			#{$type}-#{$property}: $size;
		}
	}
	@if $size == auto {
		@each $property in $properties {
			#{$type}-#{$property}: $size;
		}
	}
	@if is-length($size) == false {
		@each $property in $properties {
			#{$type}-#{$property}: #{map-get($sizes, $size)};
		}
	}
	@if is-length($size) == true {
		@each $property in $properties {
			#{$type}-#{$property}: $size;
		}
	}
	@if is-percentage($size) == true {
		@each $property in $properties {
			#{$type}-#{$property}: $size;
		}
	}
}
