@import '../settings/lists';
@import '../plugins/type-checking/type-checking';

@mixin typography($font: heading, $size: medium, $weight: 400, $line-height: auto) {
	font-family: #{map-get($nc-fonts-list, $font)};
	font-weight: $weight;
	@if $font == heading {
		@if is-length($size) == false {
			font-size: #{map-get(map-get($nc-typography-scales-list, heading), $size)};
		}
		@if is-length($size) == true {
			font-size: $size;
		}
	}
	@if $font == body {
		@if is-length($size) == false {
			font-size: #{map-get(map-get($nc-typography-scales-list, body), $size)};
		}
		@if is-length($size) == true {
			font-size: $size;
		}
	}
	@if $font == additional {
		@if is-length($size) == false {
			font-size: #{map-get(map-get($nc-typography-scales-list, body), $size)};
		}
		@if is-length($size) == true {
			font-size: $size;
		}
	}
	@if $line-height == auto {
		@if $font == heading {
			line-height: $nc-typography-scale;
		}
		@if $font == body {
			line-height: $nc-typography-scale * $nc-typography-scale;
		}
	}
	@else {
		line-height: $line-height;
	}
}
