/****
Module: Utilities
****/

@size-xSmall 				: 	0.25rem;
@size-small 				: 	0.50rem;
@size-medium 				: 	1.00rem;
@size-large 				: 	2.00rem;
@size-xLarge 				: 	4.00rem;

// Hidden
._hidden {display: none;}

// Space
._paddingTop {padding-top: @size-medium;}
._paddingTopXSmall {padding-top: @size-xSmall;}
._paddingTopSmall {padding-top: @size-small;}
._paddingTopMedium {padding-top: @size-medium;}
._paddingTopLarge {padding-top: @size-large;}
._paddingTopXLarge {padding-top: @size-xLarge;}

._paddingRight {padding-right: @size-medium;}
._paddingRightXSmall {padding-right: @size-xSmall;}
._paddingRightSmall {padding-right: @size-small;}
._paddingRightMedium {padding-right: @size-medium;}
._paddingRightLarge {padding-right: @size-large;}
._paddingRightXLarge {padding-right: @size-xLarge;}

._paddingBottom {padding-bottom: @size-medium;}
._paddingBottomXSmall {padding-bottom: @size-xSmall;}
._paddingBottomSmall {padding-bottom: @size-small;}
._paddingBottomMedium {padding-bottom: @size-medium;}
._paddingBottomLarge {padding-bottom: @size-large;}
._paddingBottomXLarge {padding-bottom: @size-xLarge;}

._paddingLeft {padding-left: @size-medium;}
._paddingLeftXSmall {padding-left: @size-xSmall;}
._paddingLeftSmall {padding-left: @size-small;}
._paddingLeftMedium {padding-left: @size-medium;}
._paddingLeftLarge {padding-left: @size-large;}
._paddingLeftXLarge {padding-left: @size-xLarge;}

._paddingVertical {padding-top: @size-medium; padding-bottom: @size-medium;}
._paddingVerticalXSmall {padding-top: @size-xSmall; padding-bottom: @size-xSmall;}
._paddingVerticalSmall {padding-top: @size-small; padding-bottom: @size-small;}
._paddingVerticalMedium {padding-top: @size-medium; padding-bottom: @size-medium;}
._paddingVerticalLarge {padding-top: @size-large; padding-bottom: @size-large;}
._paddingVerticalXLarge {padding-top: @size-xLarge; padding-bottom: @size-xLarge;}

._paddingHorizontal {padding-left: @size-medium; padding-right: @size-medium;}
._paddingHorizontalXSmall {padding-left: @size-xSmall; padding-right: @size-xSmall;}
._paddingHorizontalSmall {padding-left: @size-small; padding-right: @size-small;}
._paddingHorizontalMedium {padding-left: @size-medium; padding-right: @size-medium;}
._paddingHorizontalLarge {padding-left: @size-large; padding-right: @size-large;}
._paddingHorizontalXLarge {padding-left: @size-xLarge; padding-right: @size-xLarge;}

._paddingAround {padding: @size-medium;}
._paddingAroundXSmall {padding: @size-xSmall;}
._paddingAroundSmall {padding: @size-small;}
._paddingAroundMedium {padding: @size-medium;}
._paddingAroundLarge {padding: @size-large;}
._paddingAroundXLarge {padding: @size-xLarge;}

._marginTop {margin-top: @size-medium;}
._marginTopXSmall {margin-top: @size-xSmall;}
._marginTopSmall {margin-top: @size-small;}
._marginTopMedium {margin-top: @size-medium;}
._marginTopLarge {margin-top: @size-large;}
._marginTopXLarge {margin-top: @size-xLarge;}

._marginRight {margin-right: @size-medium;}
._marginRightXSmall {margin-right: @size-xSmall;}
._marginRightSmall {margin-right: @size-small;}
._marginRightMedium {margin-right: @size-medium;}
._marginRightLarge {margin-right: @size-large;}
._marginRightXLarge {margin-right: @size-xLarge;}

._marginBottom {margin-bottom: @size-medium;}
._marginBottomXSmall {margin-bottom: @size-xSmall;}
._marginBottomSmall {margin-bottom: @size-small;}
._marginBottomMedium {margin-bottom: @size-medium;}
._marginBottomLarge {margin-bottom: @size-large;}
._marginBottomXLarge {margin-bottom: @size-xLarge;}

._marginLeft {margin-left: @size-medium;}
._marginLeftXSmall {margin-left: @size-xSmall;}
._marginLeftSmall {margin-left: @size-small;}
._marginLeftMedium {margin-left: @size-medium;}
._marginLeftLarge {margin-left: @size-large;}
._marginLeftXLarge {margin-left: @size-xLarge;}

._marginVertical {margin-top: @size-medium; margin-bottom: @size-medium;}
._marginVerticalXSmall {margin-top: @size-xSmall; margin-bottom: @size-xSmall;}
._marginVerticalSmall {margin-top: @size-small; margin-bottom: @size-small;}
._marginVerticalMedium {margin-top: @size-medium; margin-bottom: @size-medium;}
._marginVerticalLarge {margin-top: @size-large; margin-bottom: @size-large;}
._marginVerticalXLarge {margin-top: @size-xLarge; margin-bottom: @size-xLarge;}

._marginHorizontal {margin-left: @size-medium; margin-right: @size-medium;}
._marginHorizontalXSmall {margin-left: @size-xSmall; margin-right: @size-xSmall;}
._marginHorizontalSmall {margin-left: @size-small; margin-right: @size-small;}
._marginHorizontalMedium {margin-left: @size-medium; margin-right: @size-medium;}
._marginHorizontalLarge {margin-left: @size-large; margin-right: @size-large;}
._marginHorizontalXLarge {margin-left: @size-xLarge; margin-right: @size-xLarge;}

._marginAround {margin: @size-medium;}
._marginAroundXSmall {margin: @size-xSmall;}
._marginAroundSmall {margin: @size-small;}
._marginAroundMedium {margin: @size-medium;}
._marginAroundLarge {margin: @size-large;}
._marginAroundXLarge {margin: @size-xLarge;}

// Text Styles
._textAlignCenter {text-align: center;}
._textAlignLeft {text-align: left;}
._textAlignRight {text-align: right;}
._textCaseLower {text-transform: lowercase;}
._textCaseUpper {text-transform: uppercase;}
._textWeightThin {font-weight: 100;}
._textWeightLight {font-weight: 200;}
._textWeightBook {font-weight: 300;}
._textWeightRegular {font-weight: 400;}
._textWeightMedium {font-weight: 500;}
._textWeightSemiBold {font-weight: 600;}
._textWeightBold {font-weight: 700;}
._textStyleItalic {font-style: italic;}
._textListNone {list-style: none;}

// Levels
._level-1 {z-index: 100;}
._level-2 {z-index: 200;}
._level-3 {z-index: 300;}
._level-4 {z-index: 400;}
._level-5 {z-index: 500;}
._level-6 {z-index: 600;}
._level-7 {z-index: 700;}
._level-8 {z-index: 800;}
._level-9 {z-index: 900;}

// Media Queries

// Mobile only
@media (max-width: @breakpoint-mobile-max) {
	._hiddenMobile {display: none;}
}

// Tablet only
@media (min-width: @breakpoint-tablet-min) and (max-width: @breakpoint-tablet-max) {
	._hiddenTablet {display: none;}
}

// Tablet and above
@media (min-width: @breakpoint-tablet-min) {

}

// Desktop only
@media (min-width: @breakpoint-desktop-min) and (max-width: @breakpoint-desktop-max) {
	._hiddenDesktop {display: none;}
}

// Desktop and above
@media (min-width: @breakpoint-desktop-min) {

}

// Desktop HD and above
@media (min-width: @breakpoint-desktopHD-min) {
	._hiddenDesktopHD {display: none;}
}
