/***

CONFIGURATION
This is master configuration file for customizing Nucleus Framework.
Here are the available configuration options:

size: grid4px|grid8px|fibonacci

***/

$config: (
	scale: 16px,
	size: grid8px,
	grid: (
		gutter: 1rem,
		columns: 12
	),
	breakpoints: (
		mobile: 0,
		tablet: 768px,
		desktop: 992px,
		highdef: 1200px,
	),
	containers: (
		mobile: 100%,
		tablet: 100%,
		desktop: 960px,
		highdef: 1184px,
	),
	colors: (
		primary: blue,
		accent: yellow,
		secondary: pink
	),
	fonts: (
		heading: 'Libre Franklin, Arial, sans-serif',
		body: 'Open Sans, Arial, sans-serif',
		additional: 'Roboto, Arial, sans-serif',
		icon: 'Ionicons'
	),
	typography: (
		scale: 1.414
	)
);
